---
import { Marquee } from '../components/MagicUI/Marquee'
import { Image } from 'astro:assets'

import logo1 from '../../public/logos-trabajos/1.webp'
import logo2 from '../../public/logos-trabajos/2.webp'
import logo3 from '../../public/logos-trabajos/3.webp'
import logo4 from '../../public/logos-trabajos/4.webp'
import logo5 from '../../public/logos-trabajos/5.webp'
import logo6 from '../../public/logos-trabajos/6.webp'
import logo7 from '../../public/logos-trabajos/7.webp'
import logo8 from '../../public/logos-trabajos/8.webp'
import logo9 from '../../public/logos-trabajos/9.webp'
import logo10 from '../../public/logos-trabajos/10.webp'
import logo11 from '../../public/logos-trabajos/11.webp'
import logo12 from '../../public/logos-trabajos/12.webp'
import logo13 from '../../public/logos-trabajos/13.webp'
import logo14 from '../../public/logos-trabajos/14.png' // Cambiar
import logo15 from '../../public/logos-trabajos/15.webp'
import logo16 from '../../public/logos-trabajos/16.png'
import logo17 from '../../public/logos-trabajos/17.png'
import logo18 from '../../public/logos-trabajos/18.png'
import logo19 from '../../public/logos-trabajos/19.png'
import logo20 from '../../public/logos-trabajos/20.png'
import logo21 from '../../public/logos-trabajos/21.png'
import logo22 from '../../public/logos-trabajos/22.png'
import logo23 from '../../public/logos-trabajos/23.png'
import logo24 from '../../public/logos-trabajos/24.png'
import logo25 from '../../public/logos-trabajos/25.png'
import logo26 from '../../public/logos-trabajos/26.png'
import logo27 from '../../public/logos-trabajos/27.png'
import logo28 from '../../public/logos-trabajos/28.png'
import logo29 from '../../public/logos-trabajos/29.png'
import logo30 from '../../public/logos-trabajos/30.png'
import logo31 from '../../public/logos-trabajos/31.png'
import logo32 from '../../public/logos-trabajos/32.png'
import logo33 from '../../public/logos-trabajos/33.png'
import logo34 from '../../public/logos-trabajos/34.png'
import logo35 from '../../public/logos-trabajos/35.png'
import logo36 from '../../public/logos-trabajos/36.png'
import logo37 from '../../public/logos-trabajos/37.png'
import logo38 from '../../public/logos-trabajos/38.png'
import logo39 from '../../public/logos-trabajos/39.png'
import logo40 from '../../public/logos-trabajos/40.png'
import logo41 from '../../public/logos-trabajos/41.png'
import logo42 from '../../public/logos-trabajos/42.png'
import logo43 from '../../public/logos-trabajos/43.png'
import logo44 from '../../public/logos-trabajos/44.png'
import logo45 from '../../public/logos-trabajos/45.png'
import logo46 from '../../public/logos-trabajos/46.png'
import logo47 from '../../public/logos-trabajos/47.png'
import logo48 from '../../public/logos-trabajos/48.png'
import logo49 from '../../public/logos-trabajos/49.png'
import logo50 from '../../public/logos-trabajos/50.png'

const src1 = [
  logo1,
  logo2,
  logo3,
  logo4,
  logo5,
  logo6,
  logo7,
  logo8,
  logo9,
  logo10,
  logo11,
  logo12,
  logo13,
  logo14,
  logo15,
  logo16,
  logo17
]

const src2 = [
  logo18,
  logo19,
  logo20,
  logo21,
  logo22,
  logo23,
  logo24,
  logo25,
  logo26,
  logo27,
  logo28,
  logo29,
  logo30,
  logo31,
  logo32,
  logo33,
  logo34
]

const src3 = [
  logo35,
  logo36,
  logo37,
  logo38,
  logo39,
  logo40,
  logo41,
  logo42,
  logo43,
  logo44,
  logo45,
  logo46,
  logo47,
  logo48,
  logo49,
  logo50
]
---

<Marquee pauseOnHover={true} reverse={true} className='pt-20'>
  {
    src1.map((src) => (
      <div class='flex items-center border-none'>
        <Image
          src={src}
          alt='Logo Trabajos'
          width='150'
          height='150'
          class='w-[75px] h-[75px] sm:w-[150px] sm:h-[150px]'
        />
      </div>
    ))
  }
</Marquee>

<Marquee pauseOnHover={true} reverse={false}>
  {
    src2.map((src) => (
      <div class='flex items-center border-none'>
        <Image
          src={src}
          alt='Logo Trabajos'
          width='150'
          height='150'
          class='w-[75px] h-[75px] sm:w-[150px] sm:h-[150px]'
        />
      </div>
    ))
  }
</Marquee>

<Marquee pauseOnHover={true} reverse={true} className='pb-20'>
  {
    src3.map((src) => (
      <div class='flex items-center border-none'>
        <Image
          src={src}
          alt='Logo Trabajos'
          width='150'
          height='150'
          class='w-[75px] h-[75px] sm:w-[150px] sm:h-[150px]'
        />
      </div>
    ))
  }
</Marquee>
