---
import { Marquee } from '../components/MagicUI/Marquee'

const src1 = [
  './logos-trabajos/1.png',
  './logos-trabajos/2.png',
  './logos-trabajos/3.png',
  './logos-trabajos/4.png',
  './logos-trabajos/5.png',
  './logos-trabajos/6.png',
  './logos-trabajos/7.png',
  './logos-trabajos/8.png',
  './logos-trabajos/9.png',
  './logos-trabajos/10.png',
  './logos-trabajos/11.png',
  './logos-trabajos/13.png',
  './logos-trabajos/12.png',
  './logos-trabajos/14.png',
  './logos-trabajos/15.png',
  './logos-trabajos/16.png',
  './logos-trabajos/17.png'
]

const src2 = [
  './logos-trabajos/18.png',
  './logos-trabajos/19.png',
  './logos-trabajos/20.png',
  './logos-trabajos/21.png',
  './logos-trabajos/22.png',
  './logos-trabajos/23.png',
  './logos-trabajos/24.png',
  './logos-trabajos/25.png',
  './logos-trabajos/26.png',
  './logos-trabajos/27.png',
  './logos-trabajos/28.png',
  './logos-trabajos/29.png',
  './logos-trabajos/30.png',
  './logos-trabajos/31.png',
  './logos-trabajos/32.png',
  './logos-trabajos/33.png',
  './logos-trabajos/34.png'
]

const src3 = [
  './logos-trabajos/35.png',
  './logos-trabajos/36.png',
  './logos-trabajos/37.png',
  './logos-trabajos/38.png',
  './logos-trabajos/39.png',
  './logos-trabajos/40.png',
  './logos-trabajos/41.png',
  './logos-trabajos/42.png',
  './logos-trabajos/43.png',
  './logos-trabajos/44.png',
  './logos-trabajos/45.png',
  './logos-trabajos/46.png',
  './logos-trabajos/47.png',
  './logos-trabajos/48.png',
  './logos-trabajos/49.png',
  './logos-trabajos/50.png'
]
---

<Marquee pauseOnHover={true} reverse={true} className='pt-20'>
  {
    src1.map((src) => (
      <div class='flex items-center border-none'>
        <img src={src} width='100' height='100' />
      </div>
    ))
  }
</Marquee>

<Marquee pauseOnHover={true} reverse={false}>
  {
    src2.map((src) => (
      <div class='flex items-center border-none'>
        <img src={src} width='100' height='100' />
      </div>
    ))
  }
</Marquee>

<Marquee pauseOnHover={true} reverse={true} className='pb-20'>
  {
    src3.map((src) => (
      <div class='flex items-center border-none'>
        <img src={src} width='100' height='100' />
      </div>
    ))
  }
</Marquee>
